//SETUP
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

//BASE
@import "base/variables";
@import "base/typography";

//LAYOUT COMPONENTS
@import "layout/header";
@import "layout/hero";
@import "layout/about";
@import "layout/priorities";
@import "layout/cars";
@import "layout/contact";
